src/flows.json
[{"id":"244c09b7.d362d6","type":"tab","label":"Plot","disabled":false,"info":""},{"id":"a9d9e21d.c3d29","type":"mongodb in","z":"244c09b7.d362d6","mongodb":"8b72db0d.0547c8","name":"Geo Location Request","collection":"geo","operation":"find","x":420,"y":260,"wires":[["85b04f26.9730d","43157a8.a6da084"]]},{"id":"20711af3.746a46","type":"inject","z":"244c09b7.d362d6","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":"600","x":170,"y":260,"wires":[["a9d9e21d.c3d29"]]},{"id":"afe68e11.fe28b","type":"debug","z":"244c09b7.d362d6","name":"Cities","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":260,"wires":[]},{"id":"85b04f26.9730d","type":"function","z":"244c09b7.d362d6","name":"","func":"var valid = [];\n\nfor (i = 0; i < msg.payload.length; i++) {\n    if((msg.payload[i].country.toLowerCase() === \"brasil\") &&\n       ((msg.payload[i].city))) {\n        var coord = {\"name\": msg.payload[i].city, \"lat\":msg.payload[i].lat, \"lon\":msg.payload[i].lng,\"radius\":1000};\n        valid.push(coord);\n    }\n}\n\nvar hist = []\n\nfor (i = 0; i < valid.length; i++) {\n    if (hist.length === 0) {\n        hist.push(valid[i]);\n    } else {\n        for (j = 0; j < hist.length; j++) {\n            var item = valid[i];\n            if (item.name === hist[j].name) {\n                hist[j].radius = hist[j].radius + 1000;\n                break;\n            }\n            if (j == hist.length - 1) {\n                hist.push(item);\n            }\n        }\n    }\n}\n\nmsg.payload.i = 0;\nmsg.payload = hist;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["afe68e11.fe28b","5ec8f7ab.ecc778"]]},{"id":"65c02c0.d5e07d4","type":"worldmap","z":"244c09b7.d362d6","name":"","lat":"-10","lon":"-53.2","zoom":"5","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"true","path":"/cities","x":1010,"y":480,"wires":[]},{"id":"35263b0c.c4f8b4","type":"function","z":"244c09b7.d362d6","name":"++","func":"if ( (msg.i += 1) < msg.items.length ) return msg;\n","outputs":1,"noerr":0,"x":830,"y":480,"wires":[["5ec8f7ab.ecc778","65c02c0.d5e07d4"]]},{"id":"5ec8f7ab.ecc778","type":"function","z":"244c09b7.d362d6","name":"for each item","func":"if( msg.i     == undefined ) msg.i = 0;\nif( msg.items == undefined ) msg.items = msg.payload;\n\nmsg.payload = msg.items[ msg.i ];\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":380,"wires":[["35263b0c.c4f8b4"]]},{"id":"f68adc46.99281","type":"worldmap","z":"244c09b7.d362d6","name":"states","lat":"-13","lon":"-50.3","zoom":"5","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/states","x":1010,"y":780,"wires":[]},{"id":"43157a8.a6da084","type":"function","z":"244c09b7.d362d6","name":"","func":"var valid = [];\n\nfor (i = 0; i < msg.payload.length; i++) {\n    if((msg.payload[i].country.toLowerCase() === \"brasil\") &&\n       ((msg.payload[i].state))) {\n        var coord = {\"name\": msg.payload[i].state, \"lat\":msg.payload[i].lat, \"lon\":msg.payload[i].lng,\"radius\":1000,\"color\":\"#ff9900\",\"fillColor\":\"#ff9900\"};\n        valid.push(coord);\n    }\n}\n\nvar hist = []\n\nfor (i = 0; i < valid.length; i++) {\n    if (hist.length === 0) {\n        hist.push(valid[i]);\n    } else {\n        for (j = 0; j < hist.length; j++) {\n            var item = valid[i];\n            if (item.name === hist[j].name) {\n                hist[j].radius = hist[j].radius + 1000;\n                break;\n            }\n            if (j == hist.length - 1) {\n                hist.push(item);\n            }\n        }\n    }\n}\n\nmsg.payload.i = 0;\nmsg.payload = hist;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":580,"wires":[["572b25f8.bb238c","4307c5d0.ccb42c"]]},{"id":"8fd69894.4ab4f8","type":"function","z":"244c09b7.d362d6","name":"++","func":"if ( (msg.i += 1) < msg.items.length ) return msg;\n","outputs":1,"noerr":0,"x":830,"y":780,"wires":[["572b25f8.bb238c","f68adc46.99281"]]},{"id":"572b25f8.bb238c","type":"function","z":"244c09b7.d362d6","name":"for each item","func":"if( msg.i     == undefined ) msg.i = 0;\nif( msg.items == undefined ) msg.items = msg.payload;\n\nmsg.payload = msg.items[ msg.i ];\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":680,"wires":[["8fd69894.4ab4f8"]]},{"id":"4307c5d0.ccb42c","type":"debug","z":"244c09b7.d362d6","name":"States","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":580,"wires":[]},{"id":"8b72db0d.0547c8","type":"mongodb","z":"","hostname":"172.18.0.3","port":"27017","db":"geolocation","name":""}]